.floating-menu-top{
    background-color: #F97F06;
    width:100%;
    position:fixed;
    top:3px;
    float:left;
    height:75px;
    min-width: 375px;
    text-align: center;
}
main{
    margin-top: 80px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.questions{
    padding-top: 20px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.column{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    text-align: left;
}
body{
    background-image: url("resources/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}